#!/bin/bash
conf_dir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && echo $PWD )"

# path to the patched bc binary
# see https://github.com/fivepiece/bc_segfault
# and 'patch.bc' in this directory.
# run `./build_bc.sh` to install locally

bc_prog="${conf_dir}/bin/bc"

# path to bitcoin core \ knots executables
# examples in the './config/bin' directory
# remember to place 'regtest.conf' in the proper directory
# for regtestd to find

export PATH="$PATH:${conf_dir}/bin"
